.vsc-cropper-container {
    background : #111;
    position   : absolute;
    z-index    : 900;
}

.vsc-cropper-modal {
    border   : 1px solid #ccc;
    height   : 100%;
    left     : 0;
    position : absolute;
    right    : 0;
    width    : 100%;
    z-index  : 899;
}

.dropped {
    border : 4px solid #ea6153;
}

.g-core-image-corp-container {
    background : rgba(0, 0, 0, .9);
    bottom     : 0;
    color      : #f1f1f1;
    left       : 0;
    position   : fixed;
    right      : 0;
    top        : 0;
    z-index    : 1900;
}

.g-core-image-corp-container .image-aside {
    bottom     : 20px;
    left       : 30px;
    position   : absolute;
    right      : 30px;
    text-align : center;
    top        : 60px;
}

.g-core-image-corp-container .image-aside img {
    -khtml-user-select    : none;
    -moz-user-select      : none;
    -ms-user-select       : none;
    -webkit-touch-callout : none;
    -webkit-user-select   : none;
    max-width             : 100%;
    user-select           : none;
}

.g-core-image-corp-container .info-aside {
    background    : #fefefe;
    color         : #777;
    height        : 40px;
    left          : 0;
    padding-left  : 10px;
    padding-right : 10px;
    position      : absolute;
    right         : 0;
    top           : 0;
}

.g-core-image-corp-container .btn-groups {
    text-align : right;
    margin     : 5px 0 0;
}

.g-core-image-corp-container .btn {
    background    : #fff;
    border        : 1px solid #ccc;
    border-radius : 2px;
    color         : #222;
    display       : inline-block;
    font-size     : 13px;
    height        : 32px;
    line-height   : 32px;
    margin-left   : 15px;
    padding       : 0 15px;
    transition    : all .1s ease-in;
}

.g-core-image-corp-container .btn:hover {
    border     : 1px solid #777;
    box-shadow : 0 1px 3px rgba(0, 0, 0, .05);
}

.g-core-image-corp-container .btn:active {
    background : #ddd;
}

.g-core-image-corp-container .btn:disabled {
    background   : #eee !important;
    border-color : #ccc;
    cursor       : not-allowed;
}

.g-core-image-corp-container .btn-upload {
    background   : #27ae60;
    border-color : #27ae60;
    color        : #fff;
}

.g-core-image-corp-container .btn-upload:hover {
    background   : #2dc26c;
    border-color : #27ae60;
    box-shadow   : 0 1px 3px rgba(0, 0, 0, .05);
}
